<footer class="footer">

  <div class="container">
    <div class="footer-row">
      <div class="footer-links">
        <h4>Servicios Municipales</h4>
        <ul class="list-unstyled">
          <li><a href="#">Seguridad</a></li>
          <li><a href="#">Salud</a></li>
          <li><a href="#">Adulto Mayor</a></li>
          <li><a href="#">Trámites en Línea</a></li>
          <li><a href="#">Turismo</a></li>
        </ul>
      </div>

      <div class="footer-links">
        <h4>Servicios</h4>
        <ul class="list-unstyled">
          <li><a href="#">Social</a></li>
          <li><a href="#">Deportes y Juventud</a></li>
          <li><a href="#">Farmacia y Óptica</a></li>
          <li><a href="#">Mujer</a></li>
          <li><a href="#">Otros</a></li>
        </ul>
      </div>

      <div class="footer-links">
        <h4>Redes sociales</h4>
        <div class="footer-icons">
          <a href="#" class="bi bi-facebook"></a>
          <a href="#" class="bi bi-instagram"></a>
          <a href="#" class="bi bi-youtube"></a>
          <a href="#" class="bi bi-twitter"></a>
        </div>
      </div>

    </div>
  </div>
</footer>
