.top-bar {
  background-color: #1D71B8;
  color: white;
  font-size: 14px;
  padding: 8px 0;
}

.top-bar .contact-info {
  display: flex;
  align-items: center;
}

.top-bar .social-icons a {
  color: black;
  font-size: 14px;
  margin-left: 15px;
  text-decoration: none;
}

.top-bar .social-icons a:hover {
  color: #38DAFE;
}

.navbar-custom {
  background-color: #38DAFE;
}

.nav-link {
  color: white !important;
  font-weight: bold;
}

.nav-link:hover {
  color: white !important;
}

.contact-btn {
  background-color: #38DAFE;
  color: black;
  font-weight: bold;
  border-radius: 20px;
  padding: 8px 15px;
  text-decoration: none;
}

.contact-btn:hover {
  background-color: #38DAFE;
  color: white;
}

.nav-icons {
  display: flex;
  align-items: center;
}

.nav-icons .nav-link {
  margin-left: 10px;
}


.navbar .dropdown:hover > .dropdown-menu {
  display: block;
  margin-top: 0; 
}


.navbar .dropdown-menu {
  margin-top: 0;
}