<!-- Barra de contacto superior -->
<div class="top-bar d-flex justify-content-between align-items-center px-3">
  <div class="top-bar d-flex justify-content-between align-items-center px-3">
  <div>
    <a href="#" class="top-link me-4">
      <i class=""></i> Transparencia Activa LEY DE TRANSPARENCIA
    </a>
    <a href="#" class="top-link me-4">
      <i class=""></i> Solicitar Información LEY DE TRANSPARENCIA
    </a>
    <a href="#" class="top-link">
      <i class=""></i> Plataforma LEY DEL LOBY
    </a>
  </div>

</div>
  <div class="d-none d-md-block">
    <!-- iconos redes sociales -->
    <a href="#" class="text-dark me-2"><i class="bi bi-facebook"></i></a>
    <a href="#" class="text-dark me-2"><i class="bi bi-instagram"></i></a>
    <a href="#" class="text-dark"><i class="bi bi-twitter-x"></i></a>
  </div>
</div>

<!-- Barra de navegación principal -->
<nav class="navbar navbar-expand-lg navbar-dark px-3">
  <div class="container-fluid">
  <a class="navbar-brand" href="#">
  <img src="assets/logo.png" alt="LogoVicuña" height="80" routerLink="/">
</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <!-- Dropdown - Municipalidad -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Municipalidad</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Alcalde</a></li>
            <li><a class="dropdown-item" href="#">Concejo Municipal</a></li>
            <li><a class="dropdown-item" href="#">Organigrama</a></li>
            <li><a class="dropdown-item" href="#">COSOC</a></li>
          </ul>
        </li>

         <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Oficinas Municipales</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Dideco</a></li>
            <li><a class="dropdown-item" href="#">SecPlan</a></li>
            <li><a class="dropdown-item" href="#">Dom</a></li>
            <li><a class="dropdown-item" href="#">Secretaria Municipal</a></li>
            <li><a class="dropdown-item" href="#">Depto. De Transito</a></li>
            <li><a class="dropdown-item" href="#">Depto. Fomento Productivo</a></li>
            <li><a class="dropdown-item" href="#">Seguridad</a></li>
            <li><a class="dropdown-item" href="#">Depto. Jurídico</a></li>
            <li><a class="dropdown-item" href="#">Control</a></li>
            <li><a class="dropdown-item" href="#">Depto. Comunicaciones</a></li>
          </ul>
        </li>

         <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Servicios Online</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Pagos Permiso de Circulación</a></li>
            <li><a class="dropdown-item" href="#">Reserva Hora Licencia De Conducir</a></li>
            <li><a class="dropdown-item" href="#">Patentes Comerciales</a></li>
            <li><a class="dropdown-item" href="#">Dom Digital</a></li>
          </ul>
        </li>

         <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Educación y Salud</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Educación</a></li>
            <li><a class="dropdown-item" href="#">Salud</a></li>
          </ul>
        </li>

        <!-- Otros menús principales -->

        <li class="nav-item"><a class="nav-link" href="#">Documentos Públicos</a></li>
      </ul>

      <div class="d-flex align-items-center">

        <a href="#" class="nav-link position-relative">

        </a>

      </div>
    </div>
  </div>
</nav>
