.fondo {
  background: url("/assets/fondo3.jpg") no-repeat center center fixed;
  background-size: cover;
}



.formulario {
  background-color: #0A263E;
  border: 1px solid white;
  padding: 30px 10px;
  border-radius: 10px;
}

.formulario label{
  color: white;
  font-weight: bold;
  font-size: 20px;
}
