<div class="container mt-5">
  <div class="row align-items-center">
    <!-- Columna del Formulario -->
    <div class="col-md-6">
      <h3 class="mb-4">Formulario de Contacto</h3>
      <form class="formulario">
        <div class="mb-3">
          <label for="nombre" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="nombre" placeholder="Ingrese su nombre">
        </div>

        <div class="mb-3">
          <label for="apellido" class="form-label">Apellido</label>
          <input type="text" class="form-control" id="apellido" placeholder="Ingrese su apellido">
        </div>

        <div class="mb-3">
          <label for="email" class="form-label">Correo electrónico</label>
          <input type="email" class="form-control" id="email" placeholder="ejemplo@email.com">
        </div>

        <div class="mb-3">
          <label for="telefono" class="form-label">Número de teléfono</label>
          <input type="number" class="form-control" id="telefono" placeholder="+56 9 1234 5678">
        </div>

        <button id="miFormulario" type="submit" class="btn btn-primary ">Enviar</button>
      </form>
    </div>

    <!-- Columna de Imagen -->
    <div class="col-md-6 d-flex flex-column align-items-center text-center">
      <h4>Nuestra Ubicación atraves de Google Maps</h4>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3454.1205008151082!2d-70.71656747460963!3d-30.033400624929303!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x96901a2bb2fc4a37%3A0x54731bfe7ee9864a!2sMunicipalidad%20de%20Vicu%C3%B1a!5e0!3m2!1ses!2scl!4v1757720446112!5m2!1ses!2scl"
              width="600" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      <p class="lead fw-bold mt-2">Si deseas recibir una mejor atención acércate a nuestra sucursal de la Municipalidad.</p>
    </div>
  </div>

</div>


